:root {
  --bs-body-color: #ffffff;
}

body {
  background-color: #f6f4f0;
  font-family: "Inter", sans-serif;
}

.background {
  background-color: #2a2c2e;
}

.background-2 {
  background-color: #000000;
}

.btn-primary {
  --bs-btn-bg: #f4ce47;
  --bs-btn-border-color: #f4ce47;
}

.line {
  border: 1px solid white;
}

.font-size-smaller {
  font-size: 0.75rem;  
}
